<div class="cotainer">
    <div class="row">
        <div class="col-12">
            <h5>Login</h5>
            <label for="">
                Usuário:
                <input [(ngModel)]="usuario.nome" type="text" id="usuario" name="usuario">
            </label>
            <label for="">
                Senha:
                <input [(ngModel)]="usuario.senha" type="password" id="senha" name="senha">
            </label>
            <button type="submit" name="action" (click)="fazerLogin()">Login</button>
        </div>
    </div>
</div>