<div class="container">
    <div class="row">
        <div class="col-12">
            <app-edit></app-edit>
        </div>
    </div>
    <div class="row">
        <div class="car mt-2" *ngFor="let contato of contatos | async">
            <div class="card-body">
                <h2 class="card-title">{{ contato.nome }}</h2>
                <p class="card-text">{{ contato.telefone }}</p>
                <p class="card-text">{{ contato.key }}</p>
            </div>
            <div class="card-footer">
                <button type='button' class="btn btn-default" (click)='edit(contato, contato.key)'>Editar</button>
                <button type='button' class="btn btn-danger ml-2" (click)='delete(contato.key)'>Excluir</button>
        
            </div>
        </div>
    </div>

</div>
