<div class="car mt-2" *ngFor="let contato of contatos | async">
    <div class="card-body">
        <h2 class="card-title">{{ contato.nome }}</h2>
        <p class="card-text">{{ contato.telefone }}</p>
        <p class="card-text">{{ contato.key }}</p>
    </div>    
</div>