<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Nome</label>
        <input type="text" name="nome" id="" class="form-control" [(ngModel)]="contato.nome">
    </div>
    <div class="form-group">
        <label for="">Telefone</label>
        <input type="tel" name="telefone" id="" class="form-control" [(ngModel)]="contato.telefone">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>
